
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
    
      <a class="brand" href="/home">RaCWeb</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-center">
          <li><a href="/home">Home</a></li>
          <li><a href='/private/article'>Add Article</a></li>
          <li><a href='/private/articles'>View Articles</a></li>
          <li><a href='/private/about'>About</a></li>
          <li><a href="/private/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
