<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Very simple website - {% block titulo %}{% endblock %}</title>
	<meta name='description' content='Django Website'>
	<meta name='author' content='Ricardo A. Corredor'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.min.css'>
  
	<style>
		body {
		  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>

	<link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap-responsive.min.css'>
	{% block style_css %}{% endblock %}
</head>
<body>

	{% block header %}{% endblock %}

	{% block content %}{% endblock %}

	<footer>
		<hr>
		<center>Sample website RaC &copy;2013 - <a target="_blank" href="https://github.com/rcorredorj">RaC Website</a> <a class="btn btn-small btn-primary" href="/log_out">Log Out</a><center>
	</footer>

	<script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
	<script src='{{STATIC_URL}}js/bootstrap.min.js'></script>

</body>
</html>



